* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Stick No Bills', sans-serif;
}

body, html {
    height: 100%;
}


#container {
    height: 100%;
    background-color: #ecec0f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#head {
    font-size: 4rem;
    color: #da442a; 
}


#circle {
    font-size: 4rem;
    padding: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
}

#creator {
    color: #da442a;
    font-size: 4rem;
}

@media  (max-width: 345px) {
    #head, #creator {
        font-size: 3rem;
    }
}

@media (orientation: landscape) and (max-height: 350px) {
    #head, #creator{
        font-size: 2.8rem;
    }

    #circle {
        font-size: 2.8rem;
        padding: 25px;
    }  
}
