body {
    font-family:'Stick No Bills', sans-serif;
    margin: 0;
    background-color:rgb(40, 40, 40);
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(236, 236, 15);
}

h1 {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 68, 42);  
    font-size: clamp(0rem, 16vw, 10rem);
}

table {
    height: 20vh;
    width: 100%; 
    
}

td {
    width: calc(100% / 6);
    font-size: clamp(0rem, 10vw, 3rem);  /*  https://stackoverflow.com/questions/15649244/responsive-font-size-in-css */
    text-align: center;
    color: black;
}

#win {
    height: 40vh;
    width: 100vw;
    font-size: clamp(0rem, 11vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#buttonContainer {
    height: 30vh;
    width: 100vw;
    font-family:'Stick No Bills', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}


.fas {
    margin: 0;
    font-size: clamp(0rem, 11vw, 3rem);
    font-family:'Stick No Bills', sans-serif;
    background-color: rgb(231, 235, 235); 
    color:#000000; 
}

